<!-- Footer -->
<row class="footer">

  <columns small="12">
    <spacer size="30"></spacer>
    <p class="text-center">This handcrafted email was sent to somebody@gmail.com.</p>
    <p class="text-center">Awesome equestrian gear and premium deals not your thing? Unsubscribe <br>
      For information about our privacy practices, see our Privacy Policy.</p>

    <p class="text-center">Have a question, comment, concern or compliment?<br />
We’ll respond quickest if you call (800) 231-6530, email or write to <br>
Charlotte’s Saddlery, 11623A Katy Freeway, Houston, TX 77079.</p>
  </columns>
</row>
<!-- END Footer -->
