<!-- Preheader -->
<row>
  <columns small="12" class="preheader">
    <span class="text-right">Save 20% off of all One K Riding Helmets</span>
  </columns>
</row>
<!-- END Preheader -->

<!-- Shipping & links -->
<row class="shipping-links">
  <columns small="12" large="6">
    Free shipping on orders over $75
  </columns>
  <columns small="12" large="6">
    <p class="text-right">
      <a href="#">Web Version</a> |
      <a href="#">Forward</a> |
      <a href="#">Like</a> |
      <a href="#">Tweet</a>
    </p>
  </columns>
</row>
<!-- END Shipping & links -->

<!-- logo & social -->
<row>
  <columns small="6" large="9">
    <a href="http://www.charlottes-saddlery.com/" target="_blank" title="Charlotte's Saddlery"><img src="assets/img/logo.jpg" alt=""></a>
  </columns>
  <columns small="6" large="3" class="social-links">
    <a href="#" target="_blank"><img src="assets/img/ic-facebook.gif" alt="facebook"></a>
    <a href="#" target="_blank"><img src="assets/img/ic-youtube.gif" alt="youtube"></a>
    <a href="#" target="_blank"><img src="assets/img/ic-instagram.gif" alt="instagram"></a>
    <a href="#" target="_blank"><img src="assets/img/ic-twitter.gif" alt="twitter"></a>
  </columns>
</row>
<!-- END logo & social -->

<!-- navigation -->
<row>
  <columns large="8" class="large-offset-4">
    <menu>
      <item href="http://www.charlottes-saddlery.com/Around-the-Barn.htm" target="_blank">The Barn</item>
      <item href="http://www.charlottes-saddlery.com/English-Riding-Apparel.htm" target="_blank">Apparel</item>
      <item href="http://www.charlottes-saddlery.com/English-Saddles.htm" target="_blank">English</item>
      <item href="http://www.charlottes-saddlery.com/Western-Saddles.htm" target="_blank">Western</item>
      <item href="http://www.charlottes-saddlery.com/Horse-Wear.htm" target="_blank">Horsewear</item>
    </menu>
  </columns>
</row>
<!-- END navigation -->

<!-- billboard -->
<row class="collapse">
  <columns small="12">
    <a href="#"><img src="assets/img/billboard.jpg" alt="20% OFF ALL ONE-K Helmets"></a>
  </columns>
</row>
<!-- END billboard -->
